version: '3.9'
services:
 sqlserver:
  image: mcr.microsoft.com/mssql/server:2022-latest
  container_name: sqlserver
  environment:
   SA_PASSWORD: "MyStrongPass@123"
   ACCEPT_EULA: "Y"
  ports:
    - "1433:1433"

 hello-docker:
     build:
      context: .
      dockerfile:  hello-docker/Dockerfile
     container_name: hello-docker
     depends_on:
     - sqlserver
     environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: "http://+:8080"
      ConnectionStrings__Default: "Server=sqlserver;Database=DockerDemo;User Id=sa;Password=MyStrongPass@123;Encrypt=False"
     ports:
       - "5000:8080"

